@using applyvisa.Models;

@{    
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "激励";

    var cbzxs = ViewBag.cbzxs as List<cls成本中心>;
    var acc_yusuan = TempData["acc_yusuan"] as cls预算单;
    int i = 0;
    var stryslx = "固 定 预 算";
    if (acc_yusuan.类型 == 1)
    {
        stryslx = "项 目 预 算";
    }
    
    //如果原来的编号不在现有系统
    string schengbenbianhao = "";
    try { schengbenbianhao = acc_yusuan.成本中心编号; }
    catch { }
    if (schengbenbianhao != "")
    {
        bool bfind = false;
        for (i = 0; i < cbzxs.Count; i++)
        {
            if (cbzxs[i].成本中心编号 == schengbenbianhao)
            {
                bfind = true;
                break;
            }
        }
        if (!bfind)
        {
            cls成本中心 ccbzx = new cls成本中心();
            ccbzx.成本中心编号 = schengbenbianhao;
            cbzxs.Add(ccbzx);
        }
    }
    string str1 = "";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>

    <style>
        p.gaozhititle {
            font-size: 18px;
            font-family: 微软雅黑, Microsoft YaHei, Microsoft YaHei UI, 黑体, Arial, Helvetica, sans-serif;
            color: black;
            text-decoration: none;
        }

        #countrycolor {
            color: #FF7F00;
            text-wrap: none;
        }

        p.xingming {
            font-size: 15px;
            font-family: 微软雅黑, Microsoft YaHei, Microsoft YaHei UI, 黑体, Arial, Helvetica, sans-serif;
            color: white;
            background-color: #280581;
            height: 35px;
            vertical-align: middle;
            display: block;
            line-height: 35px;
            text-align: left;
        }

        p.xiangqing {
            font-size: 13px;
            /*font-family: 微软雅黑, Microsoft YaHei, Microsoft YaHei UI, 黑体, Arial, Helvetica, sans-serif;*/
            color: black;
            background-color: #d6ddfb;
            height: 100%;
        }

        .parent {
            width: 100%;
            height: 230px;
            margin: 0 auto;
            text-align: center;
        }

        .children {
            display: inline-block;
            width: 150px;
            height: 150px;
        }

        .button {
            font-size: 16px;
            font-family: 微软雅黑, Microsoft YaHei, Microsoft YaHei UI, 黑体, Arial, Helvetica, sans-serif;
            font-stretch: expanded;
            color: #333333;
        }

        * + html .children {
            display: inline;
            zoom: 1;
        }

        * html .children {
            display: inline;
            zoom: 1;
        }
    </style>
    <style type="text/css">
        .pop-box {
            /*弹出窗口后，弹出的DIV采用此CSS，保证置于最上层
          z-index控制Z轴的坐标，数值越大，离用户越近
        */
            z-index: 9999999; /*这个数值要足够大，才能够显示在最上层*/
            margin-bottom: 3px;
            display: none;
            position: absolute;
        }

        #bg {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            /*弹出窗口后，添加遮罩层，采用此CSS，将该层置于弹出DIV和页面层之间
          z-index控制Z轴的坐标，数值越大，离用户越近  rgba(72, 74, 68, 0.46)
        */
            z-index: 1001;
            background-color: #cfcdcd;
            -moz-opacity: 0.7;
            opacity: .70;
            filter: alpha(opacity = 70);
        }

        td.style1 {
            background-color: lightblue;
            text-align: center;
            color: gray;
        }
    </style>
    <script type="text/javascript">
        /*显示DIV*/
        function popupDiv(div_id) {
            // 获取传入的DIV
            var $div_obj = $("#" + div_id);
            // 计算机屏幕高度
            var windowWidth = $(window).width();
            // 计算机屏幕长度
            var windowHeight = $(window).height();
            // 取得传入DIV的高度
            var popupHeight = $div_obj.height();
            // 取得传入DIV的长度
            var popupWidth = $div_obj.width();

            var documentWidth = $(document).width();
            var documentHeight = $(document).height();

            $("<div id='bg'></div>").width(documentWidth * 0.99)
                    .height(documentHeight * 0.99).click(function () {
                        //hideDiv(div_id);
                    }).appendTo("body").fadeIn(200);

            var left1 = windowWidth / 2 - popupWidth / 2;
            var top1 = windowHeight / 2 - popupHeight / 2;
            if (left1 < 0) left1 = 0;
            if (top1 < 0) top1 = 0;
            if (left1 < $(document).scrollLeft()) left1 = $(document).scrollLeft();
            if (top1 < $(document).scrollTop()) top1 = $(document).scrollTop();
            top1 = $(document).scrollTop() - 30;   //直接靠上对齐
            $div_obj.css({
                "position": "absloute"
            }).animate({
                left: left1,
                top: top1,
                opacity: "show"
            }, "slow");
        }

        /*隐藏DIV*/
        function hideDiv(div_id) {
            $("#bg").remove();
            $("#" + div_id).animate({
                left: 0,
                top: 0,
                opacity: "hide"
            }, "slow");
        }

    </script>
</head>

<body style="background-color: #2A293B;">

    <div id="popMSG" class="pop-box">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="panel-body" style="height: 100%;">
                     <span class="input-group-addon" style="border:none;background-color:white;">激励申请已经提交审批。 </span>
                </div>
                <div class="modal-footer" style="text-align:center;">
                    <button type="button" class="btn btn-primary" onclick="guanbiMSG();">　确　定　</button>
                </div>
            </div>
        </div>
    </div>


    <input type="hidden" id="txtjzid" value="@acc_yusuan.ID.ToString()">
    <input type="hidden" id="txtgl_lx" value="@acc_yusuan.类型.ToString()">
    
    <table id="worktable" style="width: 1024px; background-color: white; min-height: 400px; margin-right: auto; margin-left: auto;">
        <tr style="border-bottom:solid 2px gray;">
            <td colspan="2" style="text-align:center;height:50px;background-color:#f8f2a9;">
                <p class="gaozhititle">@stryslx 激 励 申 请</p>
            </td>
        </tr>
        <tr style="border-bottom:solid 1px lightgray;">
            <td colspan="2" style="vertical-align:central;height:10px;">
                <table style="width:100%;height:10px;">
                    <tr style="border-bottom:solid 1px lightgray;">
                        <td style="width: 80px; height: 20px; border-right: solid 1px lightgray;">
                            <span class="input-group-addon" style="border: none; background-color:white;">预算编号</span>
                        </td>
                        <td style="width: 170px; border-right: solid 1px lightgray;">
                            <input id="txtysbh" type="text" readonly="readonly" style="width: 170px; height: 30px; margin-left: 5px; border: none; font-size: 13px; " value="@acc_yusuan.预算编号">
                        </td>

                        <td style="width: 80px; height: 20px; border-right: solid 1px lightgray;">
                            <span class="input-group-addon" readonly="readonly" style="border: none; background-color:white;">预算名称</span>
                        </td>
                        <td style="width: 170px; border-right: solid 1px lightgray; ">
                            <input id="txtysmc" type="text" readonly="readonly" style="width: 170px; height: 30px; margin-left: 5px; border: none; font-size: 13px; " value="@acc_yusuan.预算名称">
                        </td>

                        <td style="width: 80px; border-right: solid 1px lightgray;">
                            <span class="input-group-addon" style="border: none; background-color:white;">成本中心编号</span>
                        </td>
                        <td style="width: 168px; ">
                            <input id="txtcbzxbh" type="text" readonly="readonly" style="width: 168px; height: 30px; margin-left: 5px; border: none; font-size: 13px; " value="@acc_yusuan.成本中心编号">
                        </td>
                        <td style="width:20px;"> </td>
                    </tr>
                    <tr style="border-bottom:solid 1px lightgray;" id="tr_ywlx">
                        <td style="width: 80px; height: 20px; border-right: solid 1px lightgray;">
                            <span class="input-group-addon" style="border: none; background-color:white;">业务类型</span>
                        </td>
                        <td style="width: 170px; border-right: solid 1px lightgray;">
                            <input id="txtysywlx" type="text" readonly="readonly" style="width: 170px; height: 30px; margin-left: 5px; border: none; font-size: 13px;" value="@acc_yusuan.业务类型">
                        </td>

                        <td style="width: 80px; height: 20px; border-right: solid 1px lightgray;">
                            <span class="input-group-addon" style="border: none; background-color:white;">销　　售</span>
                        </td>
                        <td colspan="3" style="width: 170px;">
                            <input id="txtysxs" type="text" readonly="readonly" style="width: 170px; height: 30px; margin-left: 5px; border: none; font-size: 13px;" value="@acc_yusuan.销售">
                        </td>

                        <td style="width:20px;"> </td>
                    </tr>
                    <tr style="border-bottom:solid 1px lightgray;">
                        <td style="width: 80px; height: 20px; border-right: solid 1px lightgray;">
                            <span class="input-group-addon" style="border: none; background-color:white;">预算说明</span>
                        </td>
                        <td colspan="5" style="width:auto;">
                            <textarea id="txtyssm" readonly="readonly" style="z-index: 0; height: 40px; width: 700px; border: none; margin-left: 5px; font-size: 13px; ">@acc_yusuan.预算说明</textarea>
                        </td>
                        <td style="width:20px;"> </td>
                    </tr>
                    <tr style="border-bottom:solid 1px lightgray;">
                        <td style="width: 80px; height: 20px; border-right: solid 1px lightgray;">
                            <span class="input-group-addon" style="border: none; background-color:white;">申 请 人</span>
                        </td>
                        <td style="width: 170px; border-right: solid 1px lightgray;">
                            <input id="txtyssqr" type="text" readonly="readonly" style="width: 170px; height: 30px; margin-left: 5px; border: none; font-size: 13px;" value="@acc_yusuan.申请人">
                        </td>

                        <td style="width: 80px; height: 20px; border-right: solid 1px lightgray;">
                            <span class="input-group-addon" style="border: none; background-color:white;">申请日期</span>
                        </td>
                        <td colspan="3" style="width: 170px;">
                            <input id="txtyssqrq" type="text" readonly="readonly" style="width: 170px; height: 30px; margin-left: 5px; border: none; font-size: 13px;" value="@acc_yusuan.申请日期.ToString("yyyy-MM-dd")">
                        </td>

                        <td style="width:20px;"> </td>
                    </tr>

                    <tr style="border-bottom:solid 1px lightgray;">
                        <td style="width: 80px; height: 20px; border-right: solid 1px lightgray;">
                            <span class="input-group-addon" style="border: none; background-color:white;">审 批 人</span>
                        </td>
                        <td style="width: 170px; border-right: solid 1px lightgray;">
                            <input id="txtyspr" type="text" readonly="readonly" style="width: 170px; height: 30px; margin-left: 5px; border: none; font-size: 13px;" value="@acc_yusuan.审批人">
                        </td>

                        <td style="width: 80px; height: 20px; border-right: solid 1px lightgray;">
                            <span class="input-group-addon" style="border: none; background-color:white;">审批日期</span>
                        </td>
                        <td style="width: 170px; border-right: solid 1px lightgray;">
                            @{
                                str1 = "";
                                if (acc_yusuan.审批日期 < DateTime.Parse("2000-01-01"))
                                {
                                    str1 = "";
                                }
                                else
                                {
                                    str1 = acc_yusuan.审批日期.ToString("yyyy-MM-dd");
                                }
                            }
                            <input id="txtsprq" type="text" readonly="readonly" style="width: 170px; height: 30px; margin-left: 5px; border: none; font-size: 13px;" value="@str1">
                        </td>

                        <td style="width: 80px; border-right: solid 1px lightgray;">
                            <span class="input-group-addon" style="border: none; background-color:white;">审批结果</span>
                        </td>
                        <td style="width: 168px">
                            <input id="txtspjg" type="text" readonly="readonly" style="width: 168px; height: 30px; margin-left: 5px; border: none; font-size: 13px;" value="@acc_yusuan.审批结果">
                        </td>
                        <td style="width:20px;"> </td>
                    </tr>
                    <tr style="border-bottom:solid 1px lightgray;">
                        <td style="width: 80px; height: 20px; border-right: solid 1px lightgray;">
                            <span class="input-group-addon" style="border: none; background-color:white;">审批意见</span>
                        </td>
                        <td colspan="5" style="width:auto;">
                            <input id="txtspyj" readonly="readonly" style="z-index: 0; width: 700px; border: none; margin-left: 5px; font-size: 13px; " value="@acc_yusuan.审批意见">
                        </td>
                        <td style="width:20px;"> </td>
                    </tr>

                    <tr style="border-bottom:solid 1px lightgray;">
                        <td style="width: 80px; height: 20px; border-right: solid 1px lightgray;">
                            <span class="input-group-addon" style="border: none; background-color:white;">核 定 人</span>
                        </td>
                        <td style="width: 170px; border-right: solid 1px lightgray;">
                            <input id="txtyhdr" type="text" readonly="readonly" style="width: 170px; height: 30px; margin-left: 5px; border: none; font-size: 13px;" value="@acc_yusuan.核定人">
                        </td>

                        <td style="width: 80px; height: 20px; border-right: solid 1px lightgray;">
                            <span class="input-group-addon" style="border: none; background-color:white;">核定日期</span>
                        </td>
                        <td style="width: 170px; border-right: solid 1px lightgray;">
                            @{
                                str1 = "";
                                if (acc_yusuan.核定日期 < DateTime.Parse("2000-01-01"))
                                {
                                    str1 = "";
                                }
                                else
                                {
                                    str1 = acc_yusuan.核定日期.ToString("yyyy-MM-dd");
                                }
                            }
                            <input id="txthdrq" type="text" readonly="readonly" style="width: 170px; height: 30px; margin-left: 5px; border: none; font-size: 13px;" value="@str1">
                        </td>

                        <td style="width: 80px; border-right: solid 1px lightgray;">
                            <span class="input-group-addon" style="border: none; background-color:white;">核定结果</span>
                        </td>
                        <td style="width: 168px">
                            <input id="txthdjg" type="text" readonly="readonly" style="width: 168px; height: 30px; margin-left: 5px; border: none; font-size: 13px;" value="@acc_yusuan.核定结果">
                        </td>
                        <td style="width:20px;"> </td>
                    </tr>
                    <tr>
                        <td style="width: 80px; height: 20px; border-right: solid 1px lightgray;">
                            <span class="input-group-addon" style="border: none; background-color:white;">核定意见</span>
                        </td>
                        <td colspan="5" style="width:auto;">
                            <input id="txthdyj" readonly="readonly" style="z-index: 0; width: 700px; border: none; margin-left: 5px; font-size: 13px; " value="@acc_yusuan.核定意见">
                        </td>
                        <td style="width:20px;"> </td>
                    </tr>
                </table>
            </td>
        </tr>


        <tr>
            <td colspan="2" style="vertical-align: top; height: 10px;">
                <table id="tableyjsr" style="width: 100%; text-align: center;">
                    <tr style="border-bottom: solid 1px lightgray;">
                        <td colspan="4" style="width: 100%;height:10px;"></td>
                    </tr>
                    <tr style="background-color: #FAFAFA; border-bottom: solid 1px lightgray;">
                        <td colspan="4" style="width: auto;height:34px;">
                            <p style="font-size:15px;">预　算　收　入</p>
                        </td>
                    </tr>
                    <tr style="border-bottom: solid 1px lightgray;">
                        <td style="height: 25px; width: 250px; font-size: 13px; border-right: solid 1px lightgray;">
                            收入方
                        </td>
                        <td style="width: 150px; font-size: 13px; border-right: solid 1px lightgray;">
                            预算收入金额
                        </td>
                        <td style="width: 150px; font-size: 13px; border-right: solid 1px lightgray;">
                            预算收款日期
                        </td>
                        <td style="width: 170px; font-size: 13px;">
                            备注
                        </td>
                    </tr>
                    @{
                        for (i = 0; i < acc_yusuan.预算收支.Count; i++)
                        {
                            if (acc_yusuan.预算收支[i].收支 == "收入")
                            {
                                string tmpa1 = "tableyssr_row" + i.ToString() + "col0";
                                string tmpa2 = "tableyssr_row" + i.ToString() + "col1";
                                string tmpa3 = "tableyssr_row" + i.ToString() + "col2";
                                string tmpa4 = "tableyssr_row" + i.ToString() + "col3";
                                <tr id="@acc_yusuan.预算收支[i].ID.ToString()" style="border-bottom: solid 1px lightgray;">
                                    <td id="@tmpa1" style="height: 25px; width: 250px; font-size: 13px; border-right: solid 1px lightgray;">@acc_yusuan.预算收支[i].借贷方</td>
                                    <td id="@tmpa2" style="width: 150px; font-size: 13px; border-right: solid 1px lightgray;">@acc_yusuan.预算收支[i].金额</td>
                                    <td id="@tmpa3" style="width: 150px; font-size: 13px; border-right: solid 1px lightgray;">@acc_yusuan.预算收支[i].日期.ToString("yyyy-MM-dd")</td>
                                    <td id="@tmpa4" style="width: 170px; font-size: 13px; border-right: solid 1px lightgray;">@acc_yusuan.预算收支[i].备注</td>
                                </tr>
                            }
                        }
                    }
                </table>
            </td>
        </tr>

        <tr>
            <td colspan="2" style="vertical-align: top; height: 10px;">
                <table id="tableyjzc" style="width: 100%; text-align: center;">
                    <tr style="border-bottom: solid 1px lightgray;">
                        <td colspan="4" style="width: 100%;height:10px;"></td>
                    </tr>
                    <tr style="background-color: #FAFAFA; border-bottom: solid 1px lightgray;">
                        <td colspan="4" style="width: auto;height:34px;">
                            <p style="font-size:15px;">预　算　支　出</p>
                        </td>
                    </tr>
                    <tr style="border-bottom: solid 1px lightgray;">
                        <td style="height: 25px; width: 250px; font-size: 13px; border-right: solid 1px lightgray;">
                            支出方
                        </td>
                        <td style="width: 150px; font-size: 13px; border-right: solid 1px lightgray;">
                            预算支出金额
                        </td>
                        <td style="width: 150px; font-size: 13px; border-right: solid 1px lightgray;">
                            预算付款日期
                        </td>
                        <td style="width: 170px; font-size: 13px;">
                            备注
                        </td>
                    </tr>
                    @{
                        for (i = 0; i < acc_yusuan.预算收支.Count; i++)
                        {
                            if (acc_yusuan.预算收支[i].收支 == "支出")
                            {
                                string tmpa1 = "tableyszc_row" + i.ToString() + "col0";
                                string tmpa2 = "tableyszc_row" + i.ToString() + "col1";
                                string tmpa3 = "tableyszc_row" + i.ToString() + "col2";
                                string tmpa4 = "tableyszc_row" + i.ToString() + "col3";
                                <tr id="@acc_yusuan.预算收支[i].ID.ToString()" style="border-bottom: solid 1px lightgray;">
                                    <td id="@tmpa1" style="height: 25px; width: 250px; font-size: 13px; border-right: solid 1px lightgray;">@acc_yusuan.预算收支[i].借贷方</td>
                                    <td id="@tmpa2" style="width: 150px; font-size: 13px; border-right: solid 1px lightgray;">@acc_yusuan.预算收支[i].金额</td>
                                    <td id="@tmpa3" style="width: 150px; font-size: 13px; border-right: solid 1px lightgray;">@acc_yusuan.预算收支[i].日期.ToString("yyyy-MM-dd")</td>
                                    <td id="@tmpa4" style="width: 170px; font-size: 13px; border-right: solid 1px lightgray;">@acc_yusuan.预算收支[i].备注</td>
                                </tr>
                            }
                        }
                    }
                </table>
            </td>
        </tr>

        <tr id="tr_nbzz">
            <td colspan="2" style="vertical-align: top; height: 10px;">
                <table id="tablenbzz" style="width: 100%; text-align: center;">
                    <tr style="border-bottom: solid 1px lightgray;">
                        <td colspan="4" style="width: 100%;height:10px;"></td>
                    </tr>
                    <tr style="background-color: #FAFAFA; border-bottom: solid 1px lightgray;">
                        <td colspan="4" style="width: auto;height:34px;">
                            <p style="font-size:15px;">内　部　转　账</p>
                        </td>
                    </tr>
                    <tr style="border-bottom: solid 1px lightgray;">
                        <td style="height: 25px; width: 250px; font-size: 13px; border-right: solid 1px lightgray;">
                            转账对象
                        </td>
                        <td style="width: 150px; font-size: 13px; border-right: solid 1px lightgray;">
                            转账金额
                        </td>
                        <td style="width: 150px; font-size: 13px; border-right: solid 1px lightgray;">
                            转账比例%
                        </td>
                        <td style="width: 170px; font-size: 13px;">
                            备注
                        </td>
                    </tr>
                    @{
                        for (i = 0; i < acc_yusuan.内部转账.Count; i++)
                        {
                            string tmpa1 = "tablenbzz_row" + i.ToString() + "col0";
                            string tmpa2 = "tablenbzz_row" + i.ToString() + "col1";
                            string tmpa3 = "tablenbzz_row" + i.ToString() + "col2";
                            string tmpa4 = "tablenbzz_row" + i.ToString() + "col3";
                            <tr id="@acc_yusuan.内部转账[i].ID.ToString()" style="border-bottom: solid 1px lightgray;">
                                <td id="@tmpa1" style="height: 25px; width: 250px; font-size: 13px; border-right: solid 1px lightgray;">@acc_yusuan.内部转账[i].转账对象</td>
                                <td id="@tmpa2" style="width: 150px; font-size: 13px; border-right: solid 1px lightgray;">@acc_yusuan.内部转账[i].转账比例</td>
                                <td id="@tmpa3" style="width: 150px; font-size: 13px; border-right: solid 1px lightgray;">@acc_yusuan.内部转账[i].转账金额</td>
                                <td id="@tmpa4" style="width: 170px; font-size: 13px; border-right: solid 1px lightgray;">@acc_yusuan.内部转账[i].备注</td>
                            </tr>
                        }
                    }
                </table>
            </td>
        </tr>

        <tr id="tr_yjse">
            <td colspan="2" style="vertical-align: top; height: 10px;">
                <table id="tableyjse" style="width: 100%; text-align: center;">
                    <tr style="border-bottom: solid 1px lightgray;">
                        <td colspan="5" style="width: 100%;height:10px;"></td>
                    </tr>
                    <tr style="background-color: #FAFAFA; border-bottom: solid 1px lightgray;">
                        <td colspan="5" style="width: auto;height:34px;">
                            <p style="font-size:15px;">应　交　税　额</p>
                        </td>
                    </tr>
                    <tr style="border-bottom: solid 1px lightgray;">
                        <td style="height: 25px; width: 250px; font-size: 13px; border-right: solid 1px lightgray;">
                            收票方
                        </td>
                        <td style="width: 150px; font-size: 13px; border-right: solid 1px lightgray;">
                            发票种类
                        </td>
                        <td style="width: 150px; font-size: 13px; border-right: solid 1px lightgray;">
                            应收税额
                        </td>
                        <td style="width: 100px; font-size: 13px; border-right: solid 1px lightgray;">
                            税点
                        </td>
                        <td style="width: 170px; font-size: 13px;">
                            备注
                        </td>
                    </tr>
                    @{
                        for (i = 0; i < acc_yusuan.预算发票.Count; i++)
                        {
                            string tmpa1 = "tableyjse_row" + i.ToString() + "col0";
                            string tmpa2 = "tableyjse_row" + i.ToString() + "col1";
                            string tmpa3 = "tableyjse_row" + i.ToString() + "col2";
                            string tmpa4 = "tableyjse_row" + i.ToString() + "col3";
                            string tmpa5 = "tableyjse_row" + i.ToString() + "col4";
                            <tr id="@acc_yusuan.预算发票[i].ID.ToString()" style="border-bottom: solid 1px lightgray;">
                                <td id="@tmpa1" style="height: 25px; width: 250px; font-size: 13px; border-right: solid 1px lightgray;">@acc_yusuan.预算发票[i].收票方</td>
                                <td id="@tmpa2" style="width: 150px; font-size: 13px; border-right: solid 1px lightgray;">@acc_yusuan.预算发票[i].发票种类</td>
                                <td id="@tmpa3" style="width: 150px; font-size: 13px; border-right: solid 1px lightgray;">@acc_yusuan.预算发票[i].应收税额</td>
                                <td id="@tmpa4" style="width: 100px; font-size: 13px; border-right: solid 1px lightgray;">@acc_yusuan.预算发票[i].税点</td>
                                <td id="@tmpa5" style="width: 170px; font-size: 13px; border-right: solid 1px lightgray;">@acc_yusuan.预算发票[i].备注</td>
                            </tr>
                        }
                    }
                </table>
            </td>
        </tr>


        @*激励*@
        <tr style="border-bottom:solid 1px lightgray;">
            <td colspan="2" style="vertical-align:central;height:10px;">
                <table style="width:100%;height:10px;">
                    <tr style="border-bottom: dotted 2px #FF7F00;">
                        <td colspan="7" style="width: 100%;height:10px;"></td>
                    </tr>
                    <tr style="border-bottom: solid 1px lightgray;">
                        <td colspan="7" style="width: 100%;height:10px;"></td>
                    </tr>
                    <tr style="background-color: #FAFAFA; border-bottom: solid 1px lightgray;">
                        <td colspan="7" style="width: auto;height:34px;text-align:center;">
                            <p style="font-size:15px;">激　励</p>
                        </td>
                    </tr>
                    <tr style="border-bottom:solid 1px lightgray;">
                        <td style="width: 80px; height: 20px; border-right: solid 1px lightgray;">
                            <span class="input-group-addon" style="border: none; background-color:white;">人　　员</span>
                        </td>
                        <td style="width: 520px; border-right: solid 1px lightgray;">
                            <input id="txtjlry" type="text" style="width: 516px; height: 30px; margin-left: 5px; border: none; font-size: 13px;" value="@acc_yusuan.激励.人员">
                        </td>
                        <td style="width: 80px; border-right: solid 1px lightgray;">
                            <span class="input-group-addon" style="border: none; background-color:white;">金额</span>
                        </td>
                        <td style="width: 120px; border-right: solid 1px lightgray;">
                            <input id="txtjlje" type="text" style="width: 116px; height: 30px; margin-left: 5px; border: none; font-size: 13px;" value="@acc_yusuan.激励.金额">
                        </td>
                        <td style="width: 80px; border-right: solid 1px lightgray;">
                            <span class="input-group-addon" style="border: none; background-color:white;">比例</span>
                        </td>
                        <td style="width: 120px">
                            <input id="txtjlbl" type="text" style="width: 116px; height: 30px; margin-left: 5px; border: none; font-size: 13px;" value="@acc_yusuan.激励.比例">
                        </td>
                        <td style="width:20px;"> </td>
                    </tr>
                    <tr style="border-bottom:solid 1px lightgray;">
                        <td style="width: 80px; height: 20px; border-right: solid 1px lightgray;">
                            <span class="input-group-addon" style="border: none; background-color:white;">激励备注</span>
                        </td>
                        <td colspan="5" style="width:auto;">
                            <textarea id="txtjlbz" style="z-index: 0; height: 60px; width: 925px; border: none; margin-left: 5px; font-size: 13px; ">@acc_yusuan.激励.备注</textarea>
                        </td>
                        <td style="width:20px;"> </td>
                    </tr> 

                    <tr style="border-bottom:solid 1px lightgray;">
                        <td style="width: 80px; height: 20px; border-right: solid 1px lightgray;">
                            <span class="input-group-addon" style="border: none; background-color:white;">申 请 人</span>
                        </td>
                        <td style="width: 170px; border-right: solid 1px lightgray;">
                            <input id="txtjlsqr" type="text" readonly="readonly" style="width: 170px; height: 30px; margin-left: 5px; border: none; font-size: 13px;" value="@acc_yusuan.激励.录入人">
                        </td>

                        <td style="width: 80px; height: 20px; border-right: solid 1px lightgray;">
                            <span class="input-group-addon" style="border: none; background-color:white;">申请日期</span>
                        </td>
                        <td colspan="3" style="width: 170px;">
                            @{
                                str1 = "";
                                if (acc_yusuan.激励.录入日期 < DateTime.Parse("2000-01-01"))
                                {
                                    str1 = "";
                                }
                                else
                                {
                                    str1 = acc_yusuan.激励.录入日期.ToString("yyyy-MM-dd");
                                }
                            }
                            <input id="txtjlsqrq" type="text" readonly="readonly" style="width: 170px; height: 30px; margin-left: 5px; border: none; font-size: 13px;" value="@str1">
                        </td>

                        <td style="width:20px;"> </td>
                    </tr>

                    <tr style="border-bottom:solid 1px lightgray;">
                        <td style="width: 80px; height: 20px; border-right: solid 1px lightgray;">
                            <span class="input-group-addon" style="border: none; background-color:white;">审 批 人</span>
                        </td>
                        <td style="width: 120px; border-right: solid 1px lightgray;">
                            <input id="txtjlspr" type="text" readonly="readonly" style="width: 120px; height: 30px; margin-left: 5px; border: none; font-size: 13px;" value="@acc_yusuan.激励.审批人">
                        </td>

                        <td style="width: 80px; height: 20px; border-right: solid 1px lightgray;">
                            <span class="input-group-addon" style="border: none; background-color:white;">审批日期</span>
                        </td>
                        <td style="width: 120px; border-right: solid 1px lightgray;">
                            @{
                                str1 = "";
                                if (acc_yusuan.激励.审批日期 < DateTime.Parse("2000-01-01"))
                                {
                                    str1 = "";
                                }
                                else
                                {
                                    str1 = acc_yusuan.激励.审批日期.ToString("yyyy-MM-dd");
                                }
                            }
                            <input id="txtjlsprq" type="text" readonly="readonly" style="width: 120px; height: 30px; margin-left: 5px; border: none; font-size: 13px;" value="@str1">
                        </td>

                        <td style="width: 80px; border-right: solid 1px lightgray;">
                            <span class="input-group-addon" style="border: none; background-color:white;">审批结果</span>
                        </td>
                        <td style="width: 120px">
                            <input id="txtjlspjg" type="text" readonly="readonly" style="width: 120px; height: 30px; margin-left: 5px; border: none; font-size: 13px;" value="@acc_yusuan.激励.审批结果">
                        </td>
                        <td style="width:20px;"> </td>
                    </tr>
                    <tr style="border-bottom:solid 1px lightgray;">
                        <td style="width: 80px; height: 20px; border-right: solid 1px lightgray;">
                            <span class="input-group-addon" style="border: none; background-color:white;">审批意见</span>
                        </td>
                        <td colspan="5" style="width:auto;">
                            <input id="txtjlspyj" readonly="readonly" style="z-index: 0; width: 700px; border: none; margin-left: 5px; font-size: 13px; " value="@acc_yusuan.激励.审批意见">
                        </td>
                        <td style="width:20px;"> </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr>
            <td colspan="2" style="vertical-align:top;">
                <table style="width:100%;height:100px;">
                    <tr style="width:100%">
                        <td style="text-align: right; "><button class="btn btn-primary" type="button" style="width:100px;" onclick="quxiao();">关　闭</button></td>
                        <td style="width: 180px; text-align: center; "></td>
                        <td style="text-align: left; "><button id="butsqjl" class="btn btn-primary" type="button" style="width:100px;" onclick="baocun();">申请激励</button></td>
                    </tr>
                </table>
            </td>
        </tr>

    </table>

</body>
</html>

<script type="text/javascript" src="~/Others/js/alert.js"></script>
<script type="text/javascript" src="~/Others/js/confirm.js"></script>
<script type="text/javascript" language="javascript">
    function baocun() {
        var s1 = $("#txtjlry").val();
        if (s1 == "" || undefined || null) {
            alert('请输入激励人员。');
            return false;
        }
        var s2 = $("#txtjlje").val();
        if (s2 == "" || undefined || null) {
            alert('请输入激励金额。');
            return false;
        }
        if (parseFloat(s2) < 1)
        {
            alert('请输入激励金额。');
            return false;
        }
        var s3 = $("#txtjlbl").val();
        if (s3 == "" || undefined || null) {
            s3 = "";
        }
        var s4 = $("#txtjlbz").val();
        if (s4 == "" || undefined || null) {
            s4 = "";
        }

        $.ajax({
            type: 'POST',
            url: "/Main/SaveStaticApplyMotivation",
            data: {
                ysID: $("#txtjzid").val(),
                tjlry: s1,
                tjlje: s2,
                tjlbl: s3,
                tjlbz: s4,
            },
            dataType: "text",
            success: function (sesponseTest) {
                switch (sesponseTest) {
                    case 400001:
                    case 400002:
                        alert('申请失败。');
                        return false;
                    default:
                        popupDiv('popMSG');

                        document.getElementById("butsqjl").disabled = true;
                        return true;
                }
            }
        });
    }
    

    function lclose(strid) {
        var ad = document.getElementById(strid)
        ad.style.display = (ad.style.display == 'none') ? '' : 'none';
    }

    function quxiao() {
        //window.location.href = "/Home/Index";
        window.opener = null;
        window.open('', '_self');
        window.close();
    }

    function comboitemclick(txtid, txtvalue) {
        var a = document.getElementById(txtid)
        a.value = txtvalue;
    }


    //固定预算/项目预算
    var gl_lx = $("#txtgl_lx").val();
    if (gl_lx == "" || undefined || null) {
        gl_lx = "0";
    }
    if(gl_lx == "0")
    {
        var tr_nbzz = document.getElementById('tr_nbzz');
        tr_nbzz.style.display = 'none';
        var tr_yjse = document.getElementById('tr_yjse');
        tr_yjse.style.display = 'none';
        var tr_ywlx = document.getElementById('tr_ywlx');
        tr_ywlx.style.display = 'none';
    }
    var spjg = $("#txtjlspjg").val();
    if (spjg == "" || undefined || null) {
        spjg = "";
    }
    var jlry = $("#txtjlry").val();
    if (jlry == "" || undefined || null) {
        jlry = "";
    }
    if (spjg == "同意") {  //已经同意的不能再申请
        document.getElementById("butsqjl").disabled = true;
    }
    else
    {
        if ((jlry != "") && (spjg == "")) {   //已申请未审批的不能再申请
            document.getElementById("butsqjl").disabled = true;
        }
    }


    function dayin() {
        var a = document.getElementById('txtjzid');
        window.open("Printformvisa?tid=" + a.value);
    }

    function guanbiMSG()
    {
        //window.location.href = "/Home/Index";
        hideDiv('popMSG');
    }

    document.getElementById("worktable").style.height = document.body.clientHeight + "px";

</script>


