@using applyvisa.Models;

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "预算实际收支输入清单";

    int percount = 20;   //每页20行
    int pagenum = 0;     //当前页码
    int pagetotal = 0;   //总页数

    string s1 = "";
    string s2 = "";
    string s3 = "";
    string s4 = "";
    string s5 = "";
    string s6 = "";
    string s7 = "";
    string s8 = "";
    List<cls预算单> lstsb = null;

    try { pagenum = (int)TempData["pagenum"]; }
    catch { }
    try { pagetotal = (int)TempData["pagetotal"]; }
    catch { }

    try { s1 = (string)TempData["sbcx_t1"]; }
    catch { }
    try { s2 = (string)TempData["sbcx_t2"]; }
    catch { }
    try { s3 = (string)TempData["sbcx_t3"]; }
    catch { }
    try { s4 = (string)TempData["sbcx_t4"]; }
    catch { }
    try { s5 = (string)TempData["sbcx_t5"]; }
    catch { }
    try { s6 = (string)TempData["sbcx_t6"]; }
    catch { }
    try { s7 = (string)TempData["sbcx_t7"]; }
    catch { }
    try { s8 = (string)TempData["sbcx_t8"]; }
    catch { }

    try { lstsb = (List<cls预算单>)TempData["pagedata"]; }
    catch { }
    if (lstsb == null)
    {
        lstsb = new List<cls预算单>();
    }
    int i = 0;

    int r = 0;
    try
    {
        r = (int)ViewBag.refesh;
    }
    catch { }

    var wheresql = TempData["wheresql"] as string;
}


<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>

    <script type="text/javascript" src="~/Others/js/alert.js"></script>
    <script type="text/javascript" src="~/Others/js/cookie.js"></script>

    <style>
        .parent {
            width: 100%;
            height: 230px;
            margin: 0 auto;
            text-align: center;
        }

        .button {
            font-size: 16px;
            font-family: 微软雅黑, Microsoft YaHei, Microsoft YaHei UI, 黑体, Arial, Helvetica, sans-serif;
            font-stretch: expanded;
            color: #333333;
        }
    </style>

    <style type="text/css">
        .pop-box {
            /*弹出窗口后，弹出的DIV采用此CSS，保证置于最上层
          z-index控制Z轴的坐标，数值越大，离用户越近
        */
            z-index: 9999999; /*这个数值要足够大，才能够显示在最上层*/
            margin-bottom: 3px;
            display: none;
            position: absolute;
        }

        #bg {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            /*弹出窗口后，添加遮罩层，采用此CSS，将该层置于弹出DIV和页面层之间
          z-index控制Z轴的坐标，数值越大，离用户越近  rgba(72, 74, 68, 0.46)
        */
            z-index: 1001;
            background-color: #cfcdcd;
            -moz-opacity: 0.7;
            opacity: .70;
            filter: alpha(opacity = 70);
        }

        td.style1 {
            background-color: lightblue;
            text-align: center;
            color: gray;
        }
    </style>
    <script type="text/javascript">
        /*显示DIV*/
        function popupDiv(div_id, banliid) {

            var a = document.getElementById('txtbanliid')
            a.value = banliid;


            // 获取传入的DIV
            var $div_obj = $("#" + div_id);
            // 计算机屏幕高度
            var windowWidth = $(window).width();
            // 计算机屏幕长度
            var windowHeight = $(window).height();
            // 取得传入DIV的高度
            var popupHeight = $div_obj.height();
            // 取得传入DIV的长度
            var popupWidth = $div_obj.width();

            var documentWidth = $(document).width();
            var documentHeight = $(document).height();

            $("<div id='bg'></div>").width(documentWidth * 0.99)
                    .height(documentHeight * 0.99).click(function () {
                        //hideDiv(div_id);
                    }).appendTo("body").fadeIn(200);

            var left1 = windowWidth / 2 - popupWidth / 2;
            var top1 = windowHeight / 2 - popupHeight / 2;
            if (left1 < 0) left1 = 0;
            if (top1 < 0) top1 = 0;
            if (left1 < $(document).scrollLeft()) left1 = $(document).scrollLeft();
            if (top1 < $(document).scrollTop()) top1 = $(document).scrollTop();
            top1 = $(document).scrollTop() - 30;   //直接靠上对齐
            $div_obj.css({
                "position": "absloute"
            }).animate({
                left: left1,
                top: top1,
                opacity: "show"
            }, "slow");
        }

        /*隐藏DIV*/
        function hideDiv(div_id) {
            $("#bg").remove();
            $("#" + div_id).animate({
                left: 0,
                top: 0,
                opacity: "hide"
            }, "slow");
        }



    </script>

</head>

<body style="background-color: #2A293B;">

    <input id="txtpichulicookie" type="hidden" value="@r">


    <div id="popXQ" class="pop-box" style="width:840px;">
        <div class="modal-dialog" style="width: 840px;">
            <div class="modal-content" style="width: 840px;">

                <input id="txtbanliid" type="hidden">

                <div class="modal-header" style="width: 838px; background-color: #97bad1;">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close" onclick="hideDiv('popXQ');">×</button>
                    <input id="lblXqbt" type="text" readonly="readonly" style="z-index: 0; border: none; width: 400px; background-color: #97bad1;color:white;">
                </div>
                <div id="ysxiangqing" class="panel-body" style="background-color: #FDFDFD; ">

                </div>
                <div class="modal-footer" style="background-color: #FDFDFD;">
                    <button type="button" data-dismiss="modal" class="btn btn-default" onclick="hideDiv('popXQ');">关闭</button>
                </div>
            </div>
        </div>
    </div>


    <table id="worktable" style="width: 1024px; background-color: white; min-height: 400px; margin-right: auto; margin-left: auto;">
        <tr>
            <td style="height:100%;vertical-align:top;">
                <div class="divbackground">
                    <li class="list-group-item" style="background-color:#f2f6f7;">
                        <table style="width: 100%; height: 60px; ">
                            <tr style="width: 100%; height: 50px;">
                                <td style="text-align: left; width: 70px;">申请日期</td>
                                <td style="text-align: center; "><input id="txt1" type="date" class="form-control" style="z-index:0;" value="@s1"></td>
                                <td style="text-align: center; width: 70px; ">～</td>
                                <td style="text-align: center; "><input id="txt2" type="date" class="form-control" style="z-index:0;" value="@s2"></td>
                            </tr>
                            <tr style="width: 100%; height: 50px;">
                                <td style="text-align: left; width: 70px;">预算编号</td>
                                <td style="text-align: center; "><input id="txt3" type="text" class="form-control" style="z-index:0;" value="@s3"></td>
                                <td style="text-align: right; width: 70px; ">预算名称&nbsp;</td>
                                <td style="text-align: center; "><input id="txt4" type="text" class="form-control" style="z-index:0;" value="@s4"></td>
                            </tr>
                            <tr style="width: 100%; height: 50px;">
                                <td style="text-align: left; width: 70px;">成本中心编号</td>
                                <td style="text-align: center; "><input id="txt5" type="text" class="form-control" style="z-index:0;" value="@s5"></td>
                                <td style="text-align: right; width: 70px; ">处理状态&nbsp;</td>
                                <td style="text-align: center; ">
                                    <input id="txt6" type="text" class="form-control" readonly="readonly" style="z-index:0;" value="待完成">
                                </td>
                            </tr>
                            <tr style="width: 100%; height: 50px;">
                                <td style="text-align: left; width: 70px;">申请人</td>
                                <td style="text-align: center; "><input id="txt7" type="text" class="form-control" style="z-index:0;" value="@s7"></td>
                                <td style="text-align: right; width: 70px; ">收/付方&nbsp;</td>
                                <td style="text-align: center; "><input id="txt8" type="text" class="form-control" style="z-index:0;" value="@s8"></td>
                            </tr>
                        </table>
                    </li>

                    <li class="list-group-item">
                        <table style="width:100%;height:60px;">
                            <tr style="width:100%">
                                <td style="text-align: right;width:100px; "> </td>
                                <td style="text-align: right;width: 360px;"><button id="butCx" class="btn btn-primary" type="button" style="width:100px;">查　询</button></td>
                                <td style="width: 100px; text-align: center; "></td>
                                <td style="text-align: left; width: auto;"><button class="btn btn-primary" type="button" style="width:100px;" onclick="previousstep();">关　闭</button></td>
                                <td style="text-align: right;width:100px; "><button id="butpcl" class="btn btn-warning" type="button" style="width:100px;" onclick="pichuli();">批处理</button></td>
                            </tr>
                        </table>
                    </li>

                    <li class="list-group-item">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>序号</th>
                                    <th>类型</th>
                                    <th>预算编号</th>
                                    <th>预算名称</th>
                                    <th>成本中心编号</th>
                                    <th>申请人</th>
                                    <th>申请日期</th>
                                    <th>预收</th>
                                    <th>预支</th>
                                    <th>状态</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>

                                @{

                                    for (i = 0; i < lstsb.Count; i++)
                                    {
                                        int xh = (pagenum - 1) * percount + i + 1;
                                        string lx = "固定";
                                        if (lstsb[i].类型 == 1)
                                        {
                                            lx = "项目";
                                        }
                                        string strp = "pi_" + lstsb[i].ID.ToString();
                                        <tr>
                                            <td>@xh</td>
                                            <td>@lx</td>
                                            <td><a href="javascript:showDetail('@lstsb[i].ID','@lstsb[i].类型');">@lstsb[i].预算编号</a></td>
                                            <td>@lstsb[i].预算名称</td>
                                            <td>@lstsb[i].成本中心编号</td>
                                            <td>@lstsb[i].申请人</td>
                                            <td>@lstsb[i].申请日期.ToString("yyyy-MM-dd")</td>
                                            <td>@lstsb[i].管理_预算收入金额</td>
                                            <td>@lstsb[i].管理_预算支出金额</td>
                                            <td>@lstsb[i].预算状态</td>
                                            <td id="@lstsb[i].ID">@Html.ActionLink("输入", "StaticApplyActual", new { id = lstsb[i].ID }, new { target = "_blank" }) | <a id="@strp" href="javascript:pichuliadd('@lstsb[i].ID','@lstsb[i].预算编号');">批+</a></td>

                                        </tr>
                                    }

                                }

                            </tbody>
                        </table>

                        <br>
                        <input id="dqy" type="hidden" value="@pagenum"><input id="zys" type="hidden" value="@pagetotal">

                        <table style="width:100%;height:60px;">
                            <tr style="width:100%">
                                <td></td>
                                <td style="text-align: center; width:360px;">

                                    <div class="input-group">
                                        <span class="input-group-addon">共 @pagetotal 页 / 第</span>
                                        <input id="txtdangqianye" type="text" class="form-control" style="text-align:center;" value="@pagenum">
                                        <span class="input-group-addon">页</span>
                                        <span class="input-group-btn">
                                            <button id="butsyy" class="btn btn-default" type="button" onclick="rollto(-1);">﹤</button>
                                        </span>
                                        <span class="input-group-btn">
                                            <button id="butxyy" class="btn btn-default" type="button" onclick="rollto(1);">﹥</button>
                                        </span>
                                        <span class="input-group-btn">
                                            <button id="butxy" class="btn btn-default" type="button" onclick="rollto(0);">Go</button>
                                        </span>

                                        <span class="input-group-btn">
                                            <button id="buttoexcel" class="btn btn-default" type="button" onclick="Export2Excel();">导出</button>
                                        </span>
                                    </div>
                                    <input id="wheresql" type="hidden" value="@wheresql">


                                </td>
                                <td></td>
                            </tr>
                        </table>

                    </li>



                </div>
            </td>
        </tr>
    </table>


</body>
</html>


<script type="text/javascript" language="javascript">
    $(document).ready(function () {
        $("#butCx").click(function () {
            cb_cookie.delete("sjszpcl");   //删除cookie

            var lx = "";

            $.ajax({
                type: 'POST',
                url: "/Main/StaticApplyCx",
                data: {
                    t0: lx,
                    t1: $("#txt1").val(),
                    t2: $("#txt2").val(),
                    t3: $("#txt3").val(),
                    t4: $("#txt4").val(),
                    t5: $("#txt5").val(),
                    t6: $("#txt6").val(),
                    t7: $("#txt7").val(),
                    t8: $("#txt8").val()
                },
                dataType: "json",
                success: function (sesponseTest) {
                    var s = "../Main/StaticApplyActualList?p=1&r=0";
                    window.location = s;
                }
            });
        });
    });


    function previousstep() {
        window.location.href = "/Home/Index";
    }

    function rollto(intstep) {
        var a1 = "1";
        var a2 = "1";
        var a = "1";
        a1 = $("#dqy").val();
        a2 = $("#zys").val();
        a = $("#txtdangqianye").val();
        if (a1 == "" || undefined || null) {
            a1 = '1';
        }
        if (a2 == "" || undefined || null) {
            a2 = '1';
        }
        if (a == "" || undefined || null) {
            a = '1';
        }
        a = parseInt(a) + parseInt(intstep);

        $("#txtdangqianye").val(a);

        var s = "../Main/StaticApplyActualList?p=" + a + "&r=0";
        window.location = s;

    }

    function comboitemclick(txtid, txtvalue) {
        var a = document.getElementById(txtid)
        a.value = txtvalue;
    }

    function showDetail(strid, strlx) {
        $("#ysxiangqing").load("/Main/StaticApplyView", { "id": strid }, function () {
            var cp = '固定';
            if (strlx == '1') cp = '项目';
            $("#lblXqbt").val(' ' + cp + '预算浏览');
            popupDiv('popXQ', strid);
        });
    }



    //contetn为要显示的内容  
    //height为离窗口顶部的距离  
    //time为多少秒后关闭的时间，单位为秒  
    function showTips( content, height, time, jiajian ){  
        //窗口的宽度  
        var windowWidth  = $(window).width();  
        var tipsDiv = '<div class="tipsClass">' + '<br>' + content + '</div>';

        var color = '#8FBC8F';
        if (jiajian != 1)
        {
            color = '#f5a10a';
        }

        var top = document.documentElement.scrollTop + (document.documentElement.clientHeight - 70) / 2;

        $( 'body' ).append( tipsDiv );  
        $( 'div.tipsClass' ).css({  
            'top'       : top + 'px',    //height + 'px',  
            'left'      : ( windowWidth / 2 ) - 350/2 + 'px',  
            'position'  : 'absolute',  
            'padding'   : '3px 5px',  
            'background': color,   //'#8FBC8F',  
            'font-size' : 14 + 'px',  
            'margin'    : '0 auto',  
            'text-align': 'center',            
            'width'     : '350px',  
            'height'    : '70px',   //'auto',  
            'color'     : '#fff',  
            'opacity'   : '0.8'  
        }).show();  
        setTimeout( function(){$( 'div.tipsClass' ).fadeOut();}, ( time * 1000 ) );  
    }  


    function pichuliadd(strid, strysbh) {
        
        if (strid == "" || undefined || null) {
            return;
        }
        if (strysbh == "" || undefined || null) {
            return;
        }

        var c = cb_cookie.get("sjszpcl");   //获取cookie
        if (c == null)
        {
            c = '';
        }
        if (c == "" || undefined || null) {            
            c = '';
        }
        c = c.replace('undefined', '').trim();

        var msg = strysbh;
        var jiajian = 1;
        if (c.indexOf(strid) == -1)
        {
            msg = msg + '已经加入到批处理。';
            c = c + " " + strid;
            jiajian = 1;
        }
        else
        {
            msg = '已经从批处理中移除' + msg;
            c = c.replace(strid, '');
            jiajian = 0;
        }

        c = c.trim();
        while (c.indexOf('  ') != -1)   //清除连续的空格
        {
            c = c.replace('  ', ' ');
        }
        c = c.trim();
        cb_cookie.set("sjszpcl", c, 1);   //设置为1天过期
        showTips(msg, 500, 1, jiajian);

        var strx = "";
        if (c == '') {
            strx = "批处理";
        }
        else {
            var arr = c.split(" ");
            strx = "批处理" + arr.length;
        }
        var r = document.getElementById("butpcl");
        r.innerText = strx;

        var z = document.getElementById("pi_" + strid);
        if(jiajian == 1)
        {
            z.innerText = "批-";
        }
        else
        {
            z.innerText = "批+";
        }
    }


    function pichuli() {
        var c = cb_cookie.get("sjszpcl");   //获取cookie
        if (c == null) {
            c = '';
        }
        if (c == "" || undefined || null) {
            c = '';
        }
        c = c.replace('undefined', '').trim();
        if (c == "") return false;

        $.ajax({
            type: 'POST',
            url: "/Main/piliangchuli",
            data: {
                ids: c
            },
            dataType: "json",
            success: function (sesponseTest) {
                switch (sesponseTest) {
                    case 400001:
                        alert("加入批处理失败：未知的记录。");
                        return false;
                    default:
                        window.open("/Main/BatchActual");
                        return true;
                }
            }
        });
    }


    //因为换页，批处理数量重新获取
    var refresh = "";
    refresh = $("#txtpichulicookie").val();
    if (refresh == 0)
    {
        var c1 = cb_cookie.get("sjszpcl");   //获取cookie
        if (c1 == null) {
            c1 = '';
        }
        if (c1 == "" || undefined || null) {
            c1 = '';
        }
        c1 = c1.replace('undefined', '').trim();
        if (c1 != "")
        {
            while (c1.indexOf('  ') != -1)   //清除连续的空格
            {
                c1 = c1.replace('  ', ' ');
            }
            c1 = c1.trim();
        }
        if (c1 != "") {
            var arr = c1.split(" ");
            var strx = "批处理" + arr.length;
            var butcaption = document.getElementById("butpcl");
            butcaption.innerText = strx;
        }
    }
    

    function Export2Excel() {
        var q = $("#wheresql").val();
        if (q == "" || undefined || null) {
            q = " where 1=2";
        }
        q = 'select * from V预算统计 ' + q;
        q = escape(q);
        var s = "../Main/Export2Excel?w=" + q;
        window.location = s;
    }

    document.getElementById("worktable").style.height = document.body.clientHeight + "px";
</script>



